

.Clock{
  justify-content: center;
  font-size: 100px;
  display: flex;
  height: 150px;
  width: 70%;
  background-color: black;
  margin-left: 220px;
  margin-top: 50px;
  color: white;
}

.digit{
  margin: 5px;
  border: 10px;
  border-color: white;
  color: white;
  margin-right: 75px;
}

fa-clock{
  margin-top: 50%;
}